# Round 1 Manual Challenge

Today is a special day. Representatives from three other archipelagos are visiting to trade their currencies with us. You can trade Wasabi roots with Sing the Songbird, Pizza slices with Devin the Duck, and Snowballs with Pam the Penguin.

Your objective is to trade these currencies and maximize your profit in SeaShells. The number of trades is limited to 5. You must begin your first trade and end your last trade with our own currency; SeaShells. Use the trading table to develop your trading strategy, and use the drop down fields to translate your strategy into actionable input.

![Trading Table.png](<Trading Table.png>)

The trading table shows you the exchange rates from one currency to another. For example: For every Pizza slice you trade for Wasabi roots, you will get 0.48 Wasabi root in return.

In [94]:
import pandas as pd
from itertools import product
pd.options.display.float_format = "{:,.20f}".format

In [95]:
fx = {
    'Pizza Slice' : {
        'Pizza Slice' : 1,
        'Wasabi Root' : 0.48, 
        'Snowball': 1.52, 
        'Shells' : 0.71
    },
    'Wasabi Root' : {
        'Pizza Slice' : 2.05,
        'Wasabi Root' : 1, 
        'Snowball': 3.26, 
        'Shells' : 1.56
    },
    'Snowball' : {
        'Pizza Slice' : 0.64,
        'Wasabi Root' : 0.3, 
        'Snowball': 1, 
        'Shells' : 0.46
    },
    'Shells' : {
        'Pizza Slice' : 1.41, 
        'Wasabi Root': 0.61, 
        'Snowball' : 2.08,
        'Shells' : 1
    }
}

In [96]:
items = ['Pizza Slice', 'Wasabi Root', 'Snowball', 'Shells']
ans = {}
prev_value = 0

# maximum trades is 5
for repeat in range(1, 5):
    
    for p in product(items, repeat = repeat):
        p = list(p)

        # first and last trade needs to be shells
        p = ['Shells'] + p + ['Shells']

        final_value = 1
        for i in range(0, len(p) - 1):
            exchange_from = p[i]
            exchange_to = p[i+1]
            final_value *= fx[exchange_from][exchange_to] 

        if final_value > prev_value:
            combi, value = p, final_value
            prev_value = final_value
            
        ans[str(p)] = final_value

print(combi, value)

['Shells', 'Pizza Slice', 'Wasabi Root', 'Shells', 'Pizza Slice', 'Shells'] 1.0569693888

We can see that the optimal solution is ['Shells', 'Pizza Slice', 'Wasabi Root', 'Shells', 'Pizza Slice', 'Shells'] producing a profit of 1.05696938880000002037 \
The second optimal solution ['Shells', 'Pizza Slice', 'Shells', 'Pizza Slice', 'Wasabi Root', 'Shells'] produced a close profit of 1.05696938879999979832

In [97]:
solutions = pd.DataFrame.from_dict(ans, orient='index').rename(columns = {0 : 'value'})
display(solutions.value_counts().sort_index(ascending = False))
display(solutions.sort_values(by = 'value', ascending = False))

value
1.05696938880000002037     1
1.05696938879999979832     1
1.05580800000000007977    15
1.03891507199999977296     1
1.03258022399999993546     1
                          ..
0.86832218999999988274     1
0.86370534399999998598     1
0.84949966399999998767     1
0.84949966399999987665     1
0.84488281799999986887     2
Length: 82, dtype: int64

                                                                    value
['Shells', 'Pizza Slice', 'Wasabi Root', 'Shell... 1.05696938880000002037
['Shells', 'Pizza Slice', 'Shells', 'Pizza Slic... 1.05696938879999979832
['Shells', 'Shells', 'Pizza Slice', 'Wasabi Roo... 1.05580800000000007977
['Shells', 'Pizza Slice', 'Wasabi Root', 'Wasab... 1.05580800000000007977
['Shells', 'Shells', 'Pizza Slice', 'Pizza Slic... 1.05580800000000007977
...                                                                   ...
['Shells', 'Wasabi Root', 'Pizza Slice', 'Snowb... 0.86370534399999998598
['Shells', 'Wasabi Root', 'Pizza Slice', 'Shell... 0.84949966399999998767
['Shells', 'Snowball', 'Shells', 'Wasabi Root',... 0.84949966399999987665
['Shells', 'Wasabi Root', 'Shells', 'Wasabi Roo... 0.84488281799999986887
['Shells', 'Wasabi Root', 'Pizza Slice', 'Shell... 0.84488281799999986887

[340 rows x 1 columns]